body{
    background-color: darksalmon;

}
h0{
    font-family: 'Archivo Black',sans-serif;
 padding: 550px;
    font-size: 30px;
    color: darkred
    
    }
h1{  font-family: 'Archivo Black', sans-serif;
margin-left: 40px;
color: darkred;
opacity: 80%;
}

h2{  font-family: 'Archivo', sans-serif;
    color: darkred;
    float:left;
    padding: 40px;   
   
}

h3{ font-family: 'Archivo', sans-serif;
margin-left: 40px;
display: inline;
background-color:bisque;
color: darksalmon;

}
/* Start http://www.cursors-4u.com */ * {cursor: url(http://ani.cursors-4u.net/nature/nat-11/nat1058.cur), auto !important;} /* End http://www.cursors-4u.com */

}