div {
    width: 450px;
    border: 15px ##DD2920;
    padding: 400px;
    margin: 20px;
    background-color: #DD2920
}

h1 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFF2D5;
    font-size: 55px;
    letter-spacing: 1.5px;
    text-align: left;
    margin-left: 70px;
    margin-top: -650px;

}

h2 {
    font-family: 'oswald', sans-serif;

    font-weight: 500;

    font-style: normal;
    color: #FFF2D5;
    font-size: 130px;
    letter-spacing: 9px;
    text-align: left;
    margin-left: 58px;
    margin-top: -70PX;
    font-stretch: extra-condensed;
}

h3 {
    font-family: 'oswald', sans-serif;

    font-weight: 500;

    font-style: normal;
    color: black;
    font-size: 89px;
    letter-spacing: 7px;
    text-align: left;
    margin-left: 58px;
    margin-top: -160PX;

}

h4 {
    font-family: 'neue-haas-grotesk-display', sans-serif;
    font-weight: 510;
    font-style: normal;
    color: #EA7664;
    font-size: 60px;
    margin-left: 370px;
    margin-top: -100PX;
}

h5 {
 font-family: neue-haas-grotesk-display, sans-serif;

font-weight: 600;

font-style: normal;


    font-size: 50px;
    letter-spacing:2px;
    font-style: normal;
    color:#FFF2D5;
   margin-left: 225px;
    margin-top: 105px;
    

}
